/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

body {
    background-color: black;
    margin: 20px;
}

pre {
    color: white;
}

p, h1, h2, ul, table {
    color: white;
    font-family: "Roboto", sans-serif;
    mso-line-spacing: 1.5;
}

li {
    margin: 10px 0;
}

a {
    color: #dbb995;
}

table {
    color: white;
}

td, th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
